#####################################
# Required packages for pymelecutil #
#####################################

# mandatory
numpy>=1.19.2
scipy>=1.6.1
matplotlib>=3.4.0
spglib>=1.15.0
mpi4py>=3.0.4
h5py>=3.5.0
